openapi: 3.2.0
info:
  title: Salsa Payroll Payments API
  description: Representative OpenAPI description of the Salsa embedded payroll REST API.
  termsOfService: https://www.salsa.dev/legal
  contact:
    name: Salsa Support
    url: https://docs.salsa.dev/
  version: rest-v1
servers:
- url: https://api.salsa.dev/api/rest/v1
  description: Production (partner production API key)
- url: https://api.sandbox.salsa.dev/api/rest/v1
  description: Sandbox (partner sandbox API key)
security:
- bearerAuth: []
tags:
- name: Payments
  description: Individual worker payments and disbursements.
paths:
  /employers/{employerId}/workers/{workerId}/payments:
    parameters:
    - $ref: '#/components/parameters/EmployerId'
    - $ref: '#/components/parameters/WorkerId'
    post:
      operationId: createWorkerPayment
      tags:
      - Payments
      summary: Create a worker payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Worker payment created.
    get:
      operationId: listWorkerPayments
      tags:
      - Payments
      summary: Retrieve a worker's payments
      responses:
        '200':
          description: A list of worker payments.
  /employers/{employerId}/workers/{workerId}/payments/{paymentId}/confirm:
    parameters:
    - $ref: '#/components/parameters/EmployerId'
    - $ref: '#/components/parameters/WorkerId'
    - name: paymentId
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: confirmWorkerPayment
      tags:
      - Payments
      summary: Confirm a worker payment for disbursement
      responses:
        '200':
          description: Payment confirmed.
  /employers/{employerId}/workers/{workerId}/payments/{paymentId}/deductions:
    parameters:
    - $ref: '#/components/parameters/EmployerId'
    - $ref: '#/components/parameters/WorkerId'
    - name: paymentId
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createPaymentDeduction
      tags:
      - Payments
      summary: Add a deduction to a worker payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Deduction created.
components:
  parameters:
    WorkerId:
      name: workerId
      in: path
      required: true
      description: The worker identifier.
      schema:
        type: string
    EmployerId:
      name: employerId
      in: path
      required: true
      description: The employer (company) identifier.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Partner Bearer API key. Approved Salsa platform partners receive separate sandbox and production keys. Send as `Authorization: Bearer ${YOUR_API_TOKEN}`.'
