openapi: 3.2.0
info:
  title: Salsa Payroll Pay Schedules API
  description: Representative OpenAPI description of the Salsa embedded payroll REST API.
  termsOfService: https://www.salsa.dev/legal
  contact:
    name: Salsa Support
    url: https://docs.salsa.dev/
  version: rest-v1
servers:
- url: https://api.salsa.dev/api/rest/v1
  description: Production (partner production API key)
- url: https://api.sandbox.salsa.dev/api/rest/v1
  description: Sandbox (partner sandbox API key)
security:
- bearerAuth: []
tags:
- name: Pay Schedules
  description: Worker pay groups and work weeks.
paths:
  /employers/{employerId}/worker-pay-groups:
    parameters:
    - $ref: '#/components/parameters/EmployerId'
    get:
      operationId: listWorkerPayGroups
      tags:
      - Pay Schedules
      summary: List an employer's worker pay groups (pay schedules)
      responses:
        '200':
          description: A list of pay groups.
    post:
      operationId: createWorkerPayGroup
      tags:
      - Pay Schedules
      summary: Create a worker pay group defining pay frequency and cadence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Pay group created.
  /employers/{employerId}/work-weeks:
    parameters:
    - $ref: '#/components/parameters/EmployerId'
    get:
      operationId: listWorkWeeks
      tags:
      - Pay Schedules
      summary: List an employer's work weeks
      responses:
        '200':
          description: A list of work weeks.
    post:
      operationId: createWorkWeek
      tags:
      - Pay Schedules
      summary: Create a work week for an employer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Work week created.
components:
  parameters:
    EmployerId:
      name: employerId
      in: path
      required: true
      description: The employer (company) identifier.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Partner Bearer API key. Approved Salsa platform partners receive separate sandbox and production keys. Send as `Authorization: Bearer ${YOUR_API_TOKEN}`.'
